.container {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  padding: 20px 20px;
  margin-top: 80px;
  justify-content: center;
  color: #008020;
  background-color: #e1e299;
  font-family: Roboto;
  border-radius: 12px;
  text-align: center;
  white-space: pre-line;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  pointer-events: none;
  z-index: 99999999;
}
